body {
    font-family: Arial, sans-serif;
    background-image: url(/images/blog1_image.jpg);
    background-size: cover;
    margin: 0;
    padding: 20px;
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.controls {
    display: flex;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

button,
#search {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-all-button {
    background-color: #e74c3c;
    color: #fff;
}

.add-contact-button {
    background-color: #2ecc71;
    color: #fff;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#search {
    padding: 8px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    background-color: #3498db;
    color: #fff;
}

.list {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list th,
.list td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.list th {
    background-color: #3498db;
    color: white;
}

.contact-image-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.contact-name {
    font-size: 1em;
}

.contact-item {
    background-color: #f9f9f9;
}

.contact-item:hover {
    background-color: #f1f1f1;
}

button {
    margin-left: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.info-button {
    background-color: #2980b9;
    color: #fff;
}

.edit-button {
    background-color: #f39c12;
    color: #fff;
}

.delete-button {
    background-color: #e74c3c;
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#addContactModal .modal-content {
    max-width: 400px;
}

#addContactForm {
    display: flex;
    flex-direction: column;
}

#addContactForm label {
    margin-bottom: 5px;
}

#addContactForm input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addContactForm button {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#addContactForm button:hover {
    background-color: #27ae60;
}
